<p id="notice"><%= notice %></p>

<p>
  <h1><%= @message %> This is the <%= @picture.name %></h1>
</p>

<p>
  <img src="<%= @picture.small_img %>" alt="<%= @picture.name %>"/>
</p>

<% if @picture.video %>
<p>
  <b>Video:</b>
  <%= @picture.video %>
</p>
<% end %>

<% if @picture.audio %>
<audio controls="controls" autoplay="autoplay">
  <source src="<%= @picture.audio %>" type="audio/wav" />
  Your browser does not support the audio element.
</audio>
<% end %>

<a href="<%= pictures_path %>"><img src="/images/reload.png" alt="replay" height="50px" width="50px" ></a>
